header.l-header ヘッダー
  nav
    ul.p-navi
      li: a(href=`${relativePath}` class=`p-navi__item ${top}`) トップページ
      li: a(href=`${relativePath}news/` class=`p-navi__item ${news}`) ニュースページ
    p: img(src=`${relativePath}images/surfer-2212948_640.jpg` width="640" height="369" alt="画像")